{% extends 'base.html' %}

{% block content %}

<h1 style="margin:20"> Offers</h1>
<div class="row">
    {% for offer in offers %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ offer.code }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ offer.description }}</h6>
                <p class="card-text">{{ offer.discount }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}